.title__profile {
    background: url(../../assets/profile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;
    width: 360px;
    order: 2;
}