.title__profile {
    background: url("../../assets/profile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid orangered;
    height: 368px;
    width: 368px;
    order: 2;
}