.experience__img {
    background-image: url("../../../assets/decod_print.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid green;
    height: 400px;
}