.academic__courses__item__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0.5rem 0;
}

.academic__courses__item__title h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}